<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2>Step 1</h2>
                    Get your groceries delivered
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2>Step 2</h2>
                    Give to foodbanks what they need
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2>Step 2</h2>
                    Feel Good, Do Good, Simple!
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
        <div class="col" *ngFor="let item of this.productList">
          <div class="card">
            <div class="card-icon-top bg-yotta-darkblue"></div>
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text">&pound;{{item.price}}</p>
              <div class="d-grid">
                <a [routerLink]="'/subscribe/'+item.id" class="btn btn-primary">Buy or Donate</a>
            </div>
            </div>
          </div>
        </div>
      </div>
</div>